@import '../../../styles.scss';
@import "~@fortawesome/fontawesome-free/css/all.css";

.members-container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.member-list {

}

.member {
    padding: 10px 5px 5px 10px;
    margin: 15px;
    display: flex;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
}

.heist-cooldown {
    opacity: 0.3;
}

.bronze {
    background-color: #A17448;
}

.silver {
    background-color: silver;
}

.gold {
    background-color: $mainGold;
}

@media (max-width: 767px) {
    .member-image {
        height: 140px;
        width: 110px;
        border-radius: 10px;
        filter: grayscale(1);
    }
}
  
@media (min-width: 1025px) {
    .member-image {
        height: 290px;
        width: 240px;
        border-radius: 10px;
        filter: grayscale(1);
    }
}

.image-container {
}

.member-data {
    margin-left: 10px;
}

@media (max-width: 767px) {
    .member-name {
        font-size: 18px;
        line-height: 24px;
    }
}
  
@media (min-width: 1025px) {
    .member-name {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 10px;
    }
}

.member-stats {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.member-stat {
    flex: 1 0 50%;
}

@media (max-width: 767px) {
    .stats {
        font-size: 12px;
        line-height: 18px;
    }
}
  
@media (min-width: 1025px) {
    .stats {
        font-size: 32px;
        line-height: 48px;
    }
}

.member-badges {
    margin-top: 15px;
    display: flex;
}

@media (max-width: 767px) {
    .accusation-icon {
        font-size: 12px;
        line-height: 22px;
        vertical-align: middle;
        padding: 0 5px;
    }
}
  
@media (min-width: 1025px) {
    .accusation-icon {
        margin-left: 10px;
        font-size: 24px;
        padding: 0 5px;
    }
}